*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #181719;
  }





/* header ============================= */


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;

  margin: 40px auto 160px auto;
}



.logo {

  width: 102px;
  height: 32px;
  
  padding: 8px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.logo p {

width: 86px;
height: 16px;

font-family: Crimson Pro;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

nav ul {
  display: flex;
  
 }

nav ul li {
  list-style: none;
  margin-left: 80px;
} 

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 6px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

nav ul li a:hover {
  font-weight: 700;
}


main {
  display: flex;
  justify-content: space-between;

  width: 90%;
  max-width: 1200px;

  margin: 0 auto;
  
}

/* info ======================== */

.info {
  width: 100%;
}

.tittle {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;

  color: #FFFFFF;
}

.description {
  width: 360px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  margin-top: 48px;
  margin-bottom: 48px;


  color: #FFFFFF;
}

span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  
  color: #FFFFFF;
}


/* imagens ======================== */



.img-room img {
  width: 635px;
  height: 454px;
  background-size: cover;
  position: relative;
}

.img-professional {
  width: 410px;
  height: 189px;
  position: relative;

  
  margin-top: -80px;
  margin-left: 200px;
  background: #181719;
}

.box-profile {
  display: flex;
  align-items: center;
}

.name-profile {
  display: flex;
  flex-wrap: wrap;
}

.name-profile span, small {
  width: 100%;
}

.name-profile span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  
  color: #FFFFFF;
}

.name-profile small {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  margin-top: 6px;
  
  color: #828282;
}

.img-professional .box-profile img {
  width: 50px;
  border-radius: 50%;
  margin: 20px;
}

.phrase {
  width: 287px;
  margin-left: 20px;
}

.phrase p {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #FFFFFF;

}

footer {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;

  text-align: center;
  color: #fff;

  margin-top: 100px;
  margin-bottom: 20px;
}

footer p { 
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
}


@media (max-width: 1130px) {
  main {
    flex-direction: column;
  }
  .info {
    margin-bottom: 40px;
  }
  .description{
    width: 100%;
  }

  .img-room  img {
    width: 100%;
    max-width: 970px;
    height: auto;
    
  }
  .img-professional {
    width: 90%;
    
    margin: -80px auto 0 auto;
  }
  }

  @media(max-width: 810px) {

    header .container {
      margin-bottom: 50px;
    }

    nav {
      display: none;
    }

    .one,
    .two,
    .three {
      background-color: #fff;
      height: 5px;
      width: 100%;
      margin: 4px auto;

      transition-duration: 0.3s;
    }

    .menu-toggle {
      width: 40px;
      height: 30px;
      
      
      cursor: pointer;
    }

    /* fullscreen ====================== */
    .menu-section.on {
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      background-color: #181719;

      z-index: 10;

      display: flex;
      justify-content: center;
      align-items: center;

      transition-duration: 0.3s;
    }

    .menu-section.on nav {
      display: block;
      
    }

    .menu-section.on .menu-toggle {
      position: absolute;
      right: 25px;
      top: 40px;

      
    }
    .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(6px, 9px);
    }

    .menu-section.on .menu-toggle .two {
      opacity: 0;
    }
    .menu-section.on .menu-toggle .three{
      transform: rotate(-45deg) translate(3px, -8px);
    }

    .menu-section nav ul {
      text-align: center;
      display: block;
     
    }

    .menu-section nav ul li {
      margin-left: 0px;
    }
    .menu-section nav ul a {
      transition-duration: 0.3s;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: 0em;
    
      display: block;
    }
  }

